<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Farmers' Assistant</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>
<style>
	.profile{
		display:flex;
		margin-top:2%;
		border-radius:25px;
		padding:2%;
	}	
	.profile-image{
		background: lightblue;
    	border-radius: 50%;
    	width: 75px;
    	height: 75px;
	}
	.profilestatus1{
		text-align:right;
		color:black;
	}
	ul{
		list-style-type:none;
		
	}
</style>
<body style="background-color: #1A2035;padding-bottom:2%;">
		

		<div class="container profile" style="background-color:#7369d1;color:white;">
			<div class="profile-image">
				
			</div>
			<div class="profilestatus1">
				<ul>
					<li>Name:</li>
					<li>Farms:</li>
					<li>Subscription:</li>
				</ul>
			</div>
			<div class="profilestatus2">
				<ul>
					<li>Ash</li>
					<li>2</li>
					<li>12 months</li>
				</ul>
			</div>
		</div>





          <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="color:white;">
            <h1 class="display-4">My Farms</h1>
            <p class="lead">Hey Ash, know more about your farms by clicking Visit</p>
          </div>
      
          <div class="container">


			  <div class="card-deck mb-3 text-center">
			  <!-- card starts -->
              <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Free</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">FARM - 1</h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>LOCATION: Vellore</li>
                    <li>AREA: 2 Hectares</li>
                    <li>SENSORS: 3</li>
                  </ul>
                  <a href="/myfarms/farm/1"><button type="button" class="btn btn-lg btn-block btn-outline-primary"><span id="link">Visit</span></button></a><br>
                </div>
              </div>
			  <!-- card ends -->
			  
		   	  <!-- card starts -->
              <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Free</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">FARM - 2</h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>LOCATION: Vellore</li>
                    <li>AREA: 2 Hectares</li>
                    <li>SENSORS: 3</li>
                  </ul>
                  <a href="/myfarms/farm/2"><button type="button" class="btn btn-lg btn-block btn-outline-primary"><span id="link">Visit</span></button></a><br>
                </div>
              </div>
			  <!-- card ends -->
		
			  <!-- card starts -->
              <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Free</h4>
                </div>
                <div class="card-body">
					<br><br><br>
                  <!-- <h1 class="card-title pricing-card-title">Add Farm</h1> -->
                  <a href="/myfarms/farm/1"><button type="button" class="btn btn-lg btn-block btn-outline-primary"><span id="link">Add Farm</span></button></a><br>
                </div>
              </div>
			  <!-- card ends -->
				  </div> 


          </div>
	
	<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="color:white;">
            <h1 class="display-4">My Market</h1>
            <p class="lead">Hey Ash, use this platform to sell your products</p>
          </div>
	
	<div class="container" style="text-align:center;">
		<button style="padding:1%;background-color:#7369d1;color:black;">
			<a href="myfarms/market" style="color:black;">Go to my Market</a>
		</button>
	</div>
	
	<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="color:white;">
            <h1 class="display-4">Learn from the Experts</h1>
            <p class="lead">Hey Ash, here are your recommendations for getting better</p>
          </div>
	
	<div class="container">
		<iframe width="350" height="310"
src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe>
		<iframe width="350" height="310"
src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe>
		<iframe width="350" height="310"
src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe>
	</div>
	
	</body>
</html>
